/FedAvg/ResNet/lightning_logs/
/FedSR/ResNet/lightning_logs/
/FedMRI/ResNet/lightning_logs/
/FedProx/ResNet/lightning_logs/
/FedAvg/ViT/lightning_logs/
/FedSR/ViT/lightning_logs/
/FedMRI/ViT/lightning_logs/
/FedProx/ViT/lightning_logs/
__pychaceh__/
FedMim/__pycache__/
models/__pycache__/
/data/.env
/FedMim/res e1 - matching simmim and cls/
/FedMim/res e1 - matching cls only/
/FedMim/simmim_1/
