/FedAvg/ResNet/lightning_logs/
/FedSR/ResNet/lightning_logs/
/FedMRI/ResNet/lightning_logs/
/FedProx/ResNet/lightning_logs/
/FedAvg/ViT/lightning_logs/
/FedSR/ViT/lightning_logs/
/FedMRI/ViT/lightning_logs/
/FedProx/ViT/lightning_logs/
__pychaceh__/
FedMim/__pycache__/
models/__pycache__/
/data/.env
/FedMim/simmim - no matching balanced/simmim_1/
/FedMim/cls1/
/FedMim/simmim_1/

/FedMim/model_round_10.pth
